<h3>{{ 'Help' | translate }}</h3>
<p>{{ 'Help_Description' | translate }}</p>

<div class="row-zero-margin" >

    <!-- Pressure Booster 	 -->
    <div class="card col-xs-12">
        <h4>{{ 'Pressure_Booster' | translate }}</h4>
        <p>{{ 'Help_Pressure_Booster_Description_A_F' | translate }}</p>
        <hr class="hr-style-one">

        <!-- Line A -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">A</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_A' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line B -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">B</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_B' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line C -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">C</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_C' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line D -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">D</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_D' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line E -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">E</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_E' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line F -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">F</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_F' | translate }}</p>
        </div>
        <hr class="hr-style-one">



        <p style="padding-top: 20px">{{ 'Help_Pressure_Booster_Description_G_O' | translate }}</p>
        <hr class="hr-style-one">

        <!-- Line G -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">G</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_G' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line H -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">H</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_H' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line I -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">I</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_I' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line J -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">J</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_J' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line K -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">K</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_K' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line L -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">L</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_L' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line M -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">M</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_M' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line N -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">N</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_N' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line O -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">O</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_O' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <p style="padding-top: 20px">{{ 'Help_Pressure_Booster_Description_P_R' | translate }}</p>
        <hr class="hr-style-one">

        <p style="padding-top: 20px">{{ 'Help_Pressure_Booster_Description_S_U' | translate }} <a href="http://bellgossett.com/representatives/" target="_blank">bellgossett.com/representatives</a></p>
        <hr class="hr-style-one">

        <!-- Line U -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">U</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_U' | translate }}</p>
        </div>
        <hr class="hr-style-one">

        <!-- Line V -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">V</span>
            <p class="col-xs-11 ">{{ 'Pressure_Booster_Help_V' | translate }}</p>
        </div>
    </div>


    <!-- Tank Selection -->
    <!--<div class="card col-xs-12">-->
        <!--<h4>{{ 'Tank_Selection' | translate }}</h4>-->
        <!--<p>{{ 'Help_Tank_Selection_Description_A_J' | translate }}</p>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line A &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">A</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_A' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line B C &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">B&C</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_B_C' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line E &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">E</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_E' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line F &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">F</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_F' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line G &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">G</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_G' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line H &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">H</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_H' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line I &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">I</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_I' | translate }}</p>-->
        <!--</div>-->
        <!--<hr class="hr-style-one">-->

        <!--&lt;!&ndash; Line J &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<span class="center-text col-xs-1" aria-hidden="true">J</span>-->
            <!--<p class="col-xs-11 ">{{ 'Tank_Selection_Help_J' | translate }}</p>-->
        <!--</div>-->
    <!--</div>-->
</div>