<h3>{{ 'Pressure_Booster' | translate }}</h3>
<p>{{ 'Pressure_Booster_Description' | translate }}
    <a href="http://www.deppmann.com/" target="_blank">{{ 'Pressure_Booster_Dev_By' | translate }}</a>
</p>

<div class="row-zero-margin" >

    <!-- Discharge Items -->
    <div class="card col-xs-12">
        <h4>{{ 'Discharge_Items' | translate }}</h4>
        <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Help_Pressure_Booster_Description_A_F" popover-placement="bottom" kmPopover></a>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-8 col-sm-offset-9">{{ 'Input' | translate }}</h6>
            <h6 class="center-text col-xs-2 col-sm-1" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">


        <!-- Line A -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">A</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_A' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_a" ng-model="input_pb.a" class="form-control" type="text" ng-change="input_pb_changed(input_pb.a)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_A" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">


        <!-- Line B -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">B</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_B' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_b" ng-model="input_pb.b" class="form-control" type="text" ng-change="input_pb_changed(input_pb.b)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_B" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">


        <!-- Line c -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">C</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_C' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_c" ng-model="input_pb.c" class="form-control" type="text" ng-change="input_pb_changed(input_pb.c)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_C" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Feet' | translate }}</h6>
        </div>
        <hr class="hr-style-one">


        <!-- Line D -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">D</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_D' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_d" ng-model="input_pb.d" class="form-control" type="text" ng-change="input_pb_changed(input_pb.d)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_D" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Feet' | translate }}</h6>
        </div>
        <hr class="hr-style-one">


        <!-- Line E -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">E</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_E' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_e" ng-model="input_pb.e" class="form-control" type="text" ng-change="input_pb_changed(input_pb.e)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_E" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">


        <!-- Line F -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">F</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_F' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_f" ng-model="input_pb.f" class="form-control" type="text" ng-change="input_pb_changed(input_pb.f)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_F" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
    </div>


    <!-- Discharge Items -->
    <div class="card col-xs-12">
        <h4>{{ 'Suction_Items' | translate }}</h4>
        <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Help_Pressure_Booster_Description_G_O" popover-placement="bottom" km-popover></a>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-8 col-sm-offset-9">{{ 'Input' | translate }}</h6>
            <h6 class="center-text col-xs-2 col-sm-1" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line G -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">G</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_G' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_g" ng-model="input_pb.g" class="form-control" type="text" ng-change="input_pb_changed(input_pb.g)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_G" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line H -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">H</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_H' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_h" ng-model="input_pb.h" class="form-control" type="text" ng-change="input_pb_changed(input_pb.h)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_H" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line I -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">I</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_I' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_i" ng-model="input_pb.i" class="form-control" type="text" ng-change="input_pb_changed(input_pb.i)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_I" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Feet' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line J -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">J</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_J' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_j" ng-model="input_pb.j" class="form-control" type="text" ng-change="input_pb_changed(input_pb.j)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_J" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Feet' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line K -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">K</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_K' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_k" ng-model="input_pb.k" class="form-control" type="text" ng-change="input_pb_changed(input_pb.k)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_K" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line L -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">L</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_L' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_l" ng-model="input_pb.l" class="form-control" type="text" ng-change="input_pb_changed(input_pb.l)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_L" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line M -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">M</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_M' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_m" ng-model="input_pb.m" class="form-control" type="text" ng-change="input_pb_changed(input_pb.m)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_M" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line N -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">N</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_N' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_n" ng-model="input_pb.n" class="form-control" type="text" ng-change="input_pb_changed(input_pb.n)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_N" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line O -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">O</span>
            <p class="col-xs-7 col-sm-8">{{ 'Pressure_Booster_Item_O' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_pb_o" ng-model="input_pb.o" class="form-control" type="text" ng-change="input_pb_changed(input_pb.o)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_O" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
    </div>


    <!-- Design Conditions for Schedule and Selection -->
    <div class="card col-xs-12">
        <h4>{{ 'Design_Conditions_For_Schedule_And_Selection' | translate }}</h4>
        <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Help_Pressure_Booster_Description_P_R" popover-placement="bottom" km-popover></a>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-8 col-sm-offset-9">{{ 'Solution' | translate }}</h6>
            <h6 class="center-text col-xs-2 col-sm-1" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line P -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">P</span>
            <div class="col-xs-7 col-sm-8">
                <p><b>{{ 'Pressure_Booster_Item_P' | translate }}</b></p>
                <p>Formula: (B + (C/2.31)+((D+C)/100)*E)+F)</p>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.p | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line Q -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">Q</span>
            <div class="col-xs-7 col-sm-8">
                <p><b>{{ 'Pressure_Booster_Item_Q' | translate }}</b></p>
                <p>Formula: (G-(I/2.31)-(((I+J)/100)*E)-K-M-O)</p>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.q | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line R -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">R</span>
            <div class="col-xs-7 col-sm-8">
                <p><b>{{ 'Pressure_Booster_Item_R' | translate }}</b></p>
                <p>Formula: (P-Q) (specify the inlet and outlet of the bosster system and make the supplier responsible for package losses)</p>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.r | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
    </div>


    <!-- Minimum Conditions for energy saving calcs. DO NOT SCHEDULE	 -->
    <div class="card col-xs-12">
        <h4>{{ 'Minimum_Conditions_For_Energy_Saving_Calcs' | translate }}</h4>
        <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Help_Pressure_Booster_Description_S_U" end-html="<br><a href='http://bellgossett.com/representatives/' target='_blank'>bellgossett.com/representatives</a>" popover-placement="bottom" km-popover></a>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-8 col-sm-offset-9">{{ 'Solution' | translate }}</h6>
            <h6 class="center-text col-xs-2 col-sm-1" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line S -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">S</span>
            <div class="col-xs-7 col-sm-8">
                <p><b>{{ 'Pressure_Booster_Item_S' | translate }}</b></p>
                <p>Formula: (A+(C/2.31))</p>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.s | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line T -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">T</span>
            <div class="col-xs-7 col-sm-8">
                <p><b>{{ 'Pressure_Booster_Item_T' | translate }}</b></p>
                <p>Formula: ((H-(I/2.31)-L)-N)</p>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.t | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line U -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">U</span>
            <div class="col-xs-7 col-sm-8">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Pressure_Booster_Item_U' | translate }}</b></p>
                <p class="col-xs-11" style="padding-left: 0px">Formula: (S-T)</p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_U" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.u | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line V1 -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">V</span>
            <div class="col-xs-7 col-sm-8">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Pressure_Booster_Item_V1' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_V" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.v1 | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line V2 -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">V</span>
            <div class="col-xs-7 col-sm-8">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Pressure_Booster_Item_V2' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Pressure_Booster_Help_V" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_pb.v2 | number:2 }}</span>
            <h6 class="col-xs-2 col-sm-1 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
    </div>
    <button id="email_results" ng-click="email_report_model()" type="submit" class="button" style="margin-bottom: 55px;">Email Results</button>
    <button id="reset" ng-click="reset_model()" type="submit" class="button" style="margin-bottom: 55px;">Reset</button>

</div>
