<h3>{{ 'Tank_Selection' | translate }}</h3>
<p>{{ 'Tank_Selection_Description' | translate }}
    <a href="http://www.deppmann.com/" target="_blank">{{ 'Pressure_Booster_Dev_By' | translate }}</a>
</p>

<div class="row-zero-margin" >

    <!-- How long do you want the booster system off? 	 -->
    <div class="card col-xs-12">
        <h4>{{ 'How_Long_Want_Booster_Off' | translate }}</h4>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-7 col-sm-offset-8">{{ 'Input' | translate }}</h6>
            <h6 class="center-text col-xs-3 col-sm-2" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line A -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">A</span>
            <p class="col-xs-6 col-sm-7">{{ 'Tank_Selection_Item_A' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_ts_a" ng-model="input_ts.a" class="form-control" type="text" ng-change="input_ts_changed(input_ts.a)">
                <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_A" popover-placement="bottom" km-popover></a>
            </div>
            <h6 class="col-xs-3 col-sm-2 center-text">{{ 'Minutes' | translate }}</h6>
        </div>
    </div>


    <!-- Type of Building and design flow rate -->
    <div class="card col-xs-12">
        <h4>{{ 'Type_Of_Building_Design_Flow_Rate_Location' | translate }}</h4>
        <a class="glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_B_C" popover-placement="bottom" km-popover></a>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-7 col-sm-offset-8">{{ 'Input' | translate }}</h6>
            <h6 class="center-text col-xs-3 col-sm-2" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line B -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">B</span>
            <p class="col-xs-6 col-sm-7">{{ 'Tank_Selection_Item_B' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <input id="input_ts_b" ng-model="input_ts.b" class="form-control" type="text" ng-change="input_ts_changed(input_ts.b)">
            </div>
            <h6 class="col-xs-3 col-sm-2 center-text">{{ 'Gallons_Per_Minute' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line C -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">C</span>
            <p class="col-xs-6 col-sm-7">{{ 'Tank_Selection_Item_C' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <select id="select_ts_building_type" ng-model="building_types.selected" ng-options="building_type as building_type.name for building_type in building_types.list" ng-change="input_ts_changed(input_ts.c)"></select>
            </div>
        </div>
        <hr class="hr-style-one">

        <!-- Line D -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">D</span>
            <p class="col-xs-6 col-sm-7">{{ 'Tank_Selection_Item_D' | translate }}</p>
            <div class="col-xs-2 form-group" style="padding-left: 0px" km-numeric-show-error>
                <select id="select_ts_tank_location" ng-model="tank_locations.selected" ng-options="tank_location as tank_location.name for tank_location in tank_locations.list" ng-change="input_ts_changed(input_ts.d)"></select>
            </div>
        </div>
    </div>


    <!-- Design conditions and tank size for scheduling -->
    <div class="card col-xs-12">
        <h4>{{ 'Design_Conditions_Tank_Size_For_Scheduling' | translate }}</h4>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-7 col-sm-offset-8">{{ 'Solution' | translate }}</h6>
            <h6 class="center-text col-xs-3 col-sm-2" >{{ 'Units' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line E -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">E</span>
            <div class="col-xs-6 col-sm-7">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Tank_Selection_Item_E' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_E" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_ts.e | number:2 }}</span>
            <h6 class="col-xs-3 col-sm-2 center-text">{{ 'Gallons' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line F -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">F</span>
            <div class="col-xs-6 col-sm-7">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Tank_Selection_Item_F' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_F" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_ts.f | number:2 }}</span>
            <h6 class="col-xs-3 col-sm-2 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line G -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">G</span>
            <div class="col-xs-6 col-sm-7">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Tank_Selection_Item_G' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_G" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_ts.g | number:2 }}</span>
            <h6 class="col-xs-3 col-sm-2 center-text">{{ 'Pound_Per_Square_Inch_Gauge' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line H -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">H</span>
            <div class="col-xs-6 col-sm-7">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Tank_Selection_Item_H' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_H" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_ts.h | number:2 }}</span>
        </div>
        <hr class="hr-style-one">

        <!-- Line I -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">I</span>
            <div class="col-xs-6 col-sm-7">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Tank_Selection_Item_I' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_I" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_ts.i | number:2 }}</span>
            <h6 class="col-xs-3 col-sm-2 center-text">{{ 'Gallons' | translate }}</h6>
        </div>
    </div>


    <!-- Select your tank -->
    <div class="card col-xs-12">
        <h4>{{ 'Select_Your_Tank' | translate }}</h4>
        <div class="row">
            <h6 class="center-text col-xs-2 col-xs-offset-6 col-sm-offset-7">{{ 'Tank_Vol' | translate }}</h6>
            <h6 class="center-text col-xs-4 col-sm-3" >{{ 'BG_Model' | translate }}</h6>
        </div>
        <hr class="hr-style-one">

        <!-- Line J -->
        <div class="row">
            <span class="center-text col-xs-1" aria-hidden="true">J</span>
            <div class="col-xs-5 col-sm-6">
                <p class="col-xs-11" style="padding-left: 0px"><b>{{ 'Tank_Selection_Item_J' | translate }}</b></p>
                <a class="col-xs-1 glyphicon glyphicon-info-sign form-control-feedback icon-style" popover-translate="Tank_Selection_Help_J" popover-placement="bottom" km-popover></a>
            </div>
            <span class="center-text col-xs-2" aria-hidden="true">{{ solution_ts.j | number:2 }}</span>
            <a ng-if="solution_ts.j_link != nil" href="{{ solution_ts.j_link }}" class="center-text col-xs-4 col-sm-3" target="_blank">{{ solution_ts.j_desc }}</a>
            <span ng-if="solution_ts.j_link == nil" class="center-text col-xs-4 col-sm-3" aria-hidden="true">{{ solution_ts.j_desc }}</span>
        </div>
    </div>
    <button id="email_results" ng-click="email_report_model()" type="submit" class="button" style="margin-bottom: 55px;">Email Results</button>
    <button id="reset" ng-click="reset_model()" type="submit" class="button" style="margin-bottom: 55px;">Reset</button>

</div>