/* Active Admin Print Stylesheet */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_normalize.scss */
[hidden] {
  display: none;
}

/* line 27, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
html {
  font-size: 100.01%;
}

/* line 28, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
body {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 31, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: black;
}
/* line 34, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 37, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 38, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 39, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 40, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 41, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 42, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 45, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 48, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 49, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 52, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.left {
  float: left !important;
}

/* line 53, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.right {
  float: right !important;
}

/* line 55, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 56, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 57, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 58, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 60, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
}

/* line 62, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 63, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
del {
  color: #666;
}

/* line 65, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 66, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* line 69, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
li ul,
li ol {
  margin: 0;
}

/* line 71, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 73, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 74, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 77, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 81, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 82, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
th {
  font-weight: bold;
}

/* line 83, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 84, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 87, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 88, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 89, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.hide {
  display: none;
}

/* line 91, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.quiet {
  color: #666;
}

/* line 92, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.loud {
  color: #000;
}

/* line 93, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.highlight {
  background: #ff0;
}

/* line 94, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.added {
  background: #060;
  color: #fff;
}

/* line 95, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.removed {
  background: #900;
  color: #fff;
}

/* line 97, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 98, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 99, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 100, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/_typography.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 13, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  width: 99%;
  margin: 0;
  padding: .5%;
  color: black;
}

/* line 24, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 29, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
h3 {
  font-weight: bold;
  margin-bottom: .5em;
}

/* line 35, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#header {
  float: left;
}
/* line 38, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#header #tabs, #header .tabs, #header #utility_nav {
  display: none;
}
/* line 42, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#header h1 {
  font-weight: bold;
}

/* line 47, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.flashes {
  display: none;
}

/* line 51, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#title_bar {
  float: right;
}
/* line 54, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#title_bar h2 {
  line-height: 2em;
  margin: 0;
}
/* line 59, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#title_bar .breadcrumb, #title_bar #titlebar_right {
  display: none;
}

/* line 65, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#active_admin_content {
  border-top: thick solid black;
  clear: both;
  margin-top: 2em;
  padding-top: 3em;
}

/* line 73, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#footer {
  display: none;
}

/* line 79, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 84, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul li {
  display: none;
  padding: 0;
  margin-bottom: 1em;
}
/* line 89, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul li.scope.selected, .table_tools ul li.index.selected {
  display: block;
}
/* line 92, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul li.scope.selected:before, .table_tools ul li.index.selected:before {
  content: "Showing ";
}
/* line 96, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul li.scope.selected a, .table_tools ul li.index.selected a {
  font-weight: bold;
}
/* line 100, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul li.scope.selected span, .table_tools ul li.index.selected span {
  display: inline-block;
  font-weight: normal;
  font-size: .9em;
}

/* line 111, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table {
  margin-bottom: 1.5em;
  text-align: left;
  width: 100%;
}
/* line 116, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table thead {
  display: table-header-group;
}
/* line 119, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table thead th {
  background: none;
  border-bottom: medium solid black;
  font-weight: bold;
}
/* line 124, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table thead th a {
  text-decoration: none;
}
/* line 130, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table th, table td {
  padding: .5em 1em;
}
/* line 133, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table th .member_link, table td .member_link {
  display: none;
}
/* line 138, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table td {
  border-bottom: thin solid black;
}
/* line 142, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
table tr {
  page-break-inside: avoid;
}

/* line 148, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#index_footer, .pagination_information {
  display: none;
}

/* line 153, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.index_grid td {
  border: none;
  text-align: center;
  vertical-align: middle;
}
/* line 158, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.index_grid td img {
  max-width: 1in;
}

/* line 165, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.panel {
  border-bottom: thick solid #ccc;
  margin-bottom: 3em;
  padding-bottom: 2em;
  page-break-inside: avoid;
}
/* line 171, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.panel:last-child {
  border-bottom: none;
}

/* line 177, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.comments form {
  display: none;
}
/* line 181, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.comments .active_admin_comment {
  border-top: thin solid black;
  padding-top: 1em;
}
/* line 186, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.comments .active_admin_comment .active_admin_comment_meta h4 {
  font-size: 1em;
  font-weight: bold;
  float: left;
  margin-right: .5em;
  margin-bottom: 0;
}
/* line 194, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.comments .active_admin_comment .active_admin_comment_meta span {
  font-size: .9em;
  font-style: italic;
  vertical-align: top;
}
/* line 201, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.comments .active_admin_comment .active_admin_comment_body {
  clear: both;
  margin-bottom: 1em;
}

/* line 210, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.attributes_table {
  border-top: medium solid black;
}
/* line 213, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.attributes_table th {
  border-bottom: thin solid black;
  vertical-align: top;
}
/* line 217, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.attributes_table th:after {
  content: ':';
}
/* line 223, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.attributes_table td img {
  max-height: 4in;
  max-width: 6in;
}

/* line 231, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
#filters_sidebar_section {
  display: none;
}

/* line 237, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form fieldset {
  border-top: thick solid #ccc;
  padding-top: 2em;
  margin-bottom: 2em;
}
/* line 242, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form fieldset:last-child {
  border-bottom: none;
}
/* line 247, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form .buttons, form abbr {
  display: none;
}
/* line 250, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 255, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form ol li {
  border-top: thin solid black;
  margin: 0;
  padding: 1em 0;
  overflow: hidden;
}
/* line 261, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form ol li.password, form ol li.hidden {
  display: none;
}
/* line 265, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form ol li label {
  font-weight: bold;
  float: left;
  width: 20%;
}
/* line 271, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form ol li input, form ol li textarea, form ol li select {
  background: none;
  border: 0;
  font: Arial, Helvetica, sans-serif;
}
/* line 277, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
form ol li input[type=file] {
  display: none;
}

/* line 285, /Users/kmckinley/.rvm/gems/ruby-2.7.8/gems/activeadmin-2.9.0/app/assets/stylesheets/active_admin/print.scss */
.unsupported_browser {
  display: none;
}
