<div class="container">
    <div id="header" class="center-text" style="padding: 15px;">
        <h4>{{ 'Contact_Local_Representative' | translate }} <a href="http://bellgossett.com/representatives/" target="_blank">bellgossett.com/representatives</a></h4>
    </div>
    <div class="tabs-placement">
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="pb_tab" data-toggle="tab" href="#pressure_booster" show-tab>{{ 'Pressure_Booster' | translate }}</a>
            </li>
            <!--<li>-->
                <!--<a id="ts_tab" data-toggle="tab" href="#tank_selection" show-tab>{{ 'Tank_Selection' | translate }}</a>-->
            <!--</li>-->
            <li>
                <a id="help_tab" data-toggle="tab" href="#help" show-tab>{{ 'Help' | translate }}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="pressure_booster" class="tab-pane fade in active">
                <ng-include src="'home/content/pressure_booster.html'"/>
            </div>
            <!--<div id="tank_selection" class="tab-pane fade">-->
                <!--<ng-include src="'home/content/tank_selection.html'"/>-->
            <!--</div>-->
            <div id="help" class="tab-pane fade">
                <ng-include src="'home/content/help.html'"/>
            </div>
        </div>
    </div>
</div>


<div title="" visible="showModal" modal>
    <div ng-switch="modalState">
        <div ng-switch-when="email_report">
            <form role=form">
                <h3 class="h3-style" style="margin-bottom: 25px">Please fill out your company name and email.  A PDF of these results will be emailed shortly.</h3>

                <div class="row modal-line">
                    <div class="col-xs-6">
                        <input id="export_company_name" class="form-control" type="text" ng-model="company_name" placeholder="Business Name" required>
                    </div>
                    <div class="col-xs-6">
                        <input id="export_zip_code" class="form-control" type="text" ng-model="postal_code" placeholder="Postal Code" required>
                    </div>
                </div>

                <input id="export_job_title" class="form-control modal-line" type="text" ng-model="job_title" placeholder="Job Title/ID">
                <input id="export_email" class="form-control modal-line" type="email" ng-model="export_email" placeholder="Email" required>
                <button id="export_submit" ng-click="email_results(company_name, postal_code, job_title, export_email)" type="submit" class="button">Submit</button>
                <button ng-click="toggle_modal()" type="button" class="button">Cancel</button>
            </form>
        </div>
        <div ng-switch-when="reset_confirm">
            <form role=form">
                <h3 class="h3-style" style="margin-bottom: 25px">Are you sure you want to reset all inputs?</h3>
                <button id="reset" ng-click="reset()" type="submit" class="button">Reset</button>
                <button ng-click="toggle_modal()" type="button" class="button">Cancel</button>
            </form>
        </div>
    </div>
</div>