/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
//@import "font-awesome-sprockets";
@import "font-awesome";


$primary-blue: #0085ad;
$secondary-blue: #339dbd;
$light-gray: #eee;
$medium-gray: #6e6e6e;
$dark-gray: #363636;

.card {
  min-height: 55px;
  padding: 0px 10px 10px 10px!important;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid $light-gray;
  border-top: 5px solid $primary-blue;
  border-radius: 2px;
  display: table;
  overflow: visible;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
  }
}

.hr-style-one{
  border-top: 1px solid $light-gray;
  margin-top: 2px;
  margin-bottom: 10px;
}

.center-text {
  text-align: center;
}

.link-style {
  color: $primary-blue!important;
  cursor: pointer;
}

.link-style:hover {
  color: $secondary-blue!important;
  background: transparent!important;
}

.icon-style {
  color: $primary-blue;
  pointer-events: auto!important;
  text-decoration: none!important;
  cursor: pointer!important;
  padding-right: 35px;
}
.icon-style:hover {
  background: transparent;
  color: $secondary-blue;
}

.row-zero-margin {
  @extend .row;
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.popover {
  width: 500px;
}

.button,
.button-slim{
  color: white;
  background: $primary-blue;
  font-family: helvetica neue, arial, sans-serif;
  border-radius: 4px;
  border: none;
  padding: 12px 10px;
  text-decoration: none;
  text-shadow: none;
  outline: none;
}
.button-slim{
  padding: 6px 10px;
}

.button:hover,
.button-search:hover {
  background: $secondary-blue!important;
}

.modal-line {
  margin-bottom: 15px;
}

/* custom inclusion of left tabs */

@media (max-width: 991px) {
  .tabs-placement {
  }
}

@media (min-width: 992px) {
  .tabs-placement > .nav-tabs {
    border-bottom: 0;
  }

  .tabs-placement > .nav-tabs > li {
    float: none;
  }

  .tabs-placement > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }

  .tabs-placement > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  }

  .tabs-placement > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  .tabs-placement > .nav-tabs > li > a:hover,
  .tabs-placement > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }

  .tabs-placement > .nav-tabs .active > a,
  .tabs-placement > .nav-tabs .active > a:hover,
  .tabs-placement > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
}

.tabs-placement {
  margin-top: 15px;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: flex;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }